.wishes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wishes__description {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
