.main__title,
.title,
.subtitle {
  text-align: center;
  padding: 0.25em;
}

.main__title {
  font-size: var(--font-3xl);
  background: var(--clr-white);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.title {
  font-size: var(--font-2xl);
  font-weight: 800;
}

.subtitle {
  font-size: var(--font-lg);
  font-weight: 700;
}

/* md */
@media (min-width: 768px) {
  .main__title {
    font-size: var(--font-5xl);
  }

  .title {
    font-size: var(--font-3xl);
  }

  .subtitle {
    font-size: var(--font-xl);
  }
}
