.header {
  margin-top: 1em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  border: 2px solid var(--clr-white);
  border-radius: 10px;
}

.header__img {
  max-width: 20em;
  filter: drop-shadow(0 0 1em var(--clr-secondary));
}

.header__title {
  background: var(--clr-gradient);
  border-radius: 10px;
  border-bottom: 3px solid var(--clr-white);
  padding: 0.75em;
  margin: 2em 0;
  filter: drop-shadow(0 0.25em 0.25em var(--clr-white));
}

/* md */
@media (min-width: 768px) {
  .header__img {
    max-width: 25em;
  }

  .header__title {
    padding: 1em;
  }
}

/* lg */
@media (min-width: 1024px) {
  .header {
    flex-direction: row;
  }

  .header__title {
    max-width: 25em;
    margin: 0 2em;
  }
}
