.letter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-primary);
  border-radius: 25px;
  width: 70%;
  margin-top: 1em;
  border-bottom: 5px solid var(--clr-white);
  box-shadow: 0 0 1em var(--clr-white);
}

.letter__title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-white);
  transition: all 0.3s ease-in-out;
  margin: 0.5em;
  width: 90%;
  cursor: pointer;
  border-bottom: 1px solid var(--clr-white);
}

.letter:hover .letter__title {
  color: var(--clr-secondary);
}

.letter__content {
  color: var(--clr-white);
  padding: 0.75em;
  margin: 0 1em 1em;
  text-align: justify;
  font-size: var(--font-md);
  line-height: 1.5rem;
}

/* md */
@media (min-width: 768px) {
  .letter {
    width: 60%;
  }

  .letter__content {
    font-size: var(--font-lg);
    margin-left: 2em;
    margin-right: 2em;
  }
}
