.description {
  text-align: center;
  font-size: var(--font-md);
  font-weight: 600;
  padding: 1em;
  margin: 0.5em;
  line-height: 2rem;
  border-left: 2px solid var(--clr-white);
  border-right: 2px solid var(--clr-white);
  background-color: var(--clr-primary);
  width: clamp(70%, 80%, 85%);
}

.description:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 2px solid var(--clr-white);
}
.description:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 2px solid var(--clr-white);
}

.summary .description {
  border-radius: 10px;
  border: none;
  border-bottom: 2px solid var(--clr-white);
}

/* md */
@media (min-width: 768px) {
  .description {
    font-size: var(--font-lg);
    width: clamp(40%, 60%, 65%);
  }
}
