/* xs */
/* @media (min-width: 425px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1440px) {} */

:root {
  --clr-primary: #ef0a96;
  --clr-secondary: #f7e40d;
  --clr-gradient: linear-gradient(
    to bottom,
    var(--clr-primary),
    var(--clr-secondary)
  );
  --clr-white: #f7f7f7;
  /* --clr-dark: #333333; */

  --font-xs: 0.5rem;
  --font-sm: 0.75rem;
  --font-md: 1rem;
  --font-lg: 1.25rem;
  --font-xl: 1.5rem;
  --font-2xl: 1.75rem;
  --font-3xl: 2rem;
  --font-4xl: 2.5rem;
  --font-5xl: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: var(--clr-secondary) var(--clr-primary);
  scrollbar-width: thin;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "General Sans", sans-serif;
  background: var(--clr-white);
  background-image: var(--clr-gradient);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: var(--clr-secondary);
  letter-spacing: 1px;
}

.section {
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--clr-primary);
}

::-webkit-scrollbar-thumb {
  background: var(--clr-secondary);
  border-radius: 10px;
}
